<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="sidebar">
    <div class="sidebar">
        <div class="sidebar-header">
            <h3>보틀노트 어드민</h3>
        </div>
        <ul class="sidebar-menu">
            <li><a th:href="@{/static}">대시보드</a></li>

            <li class="menu-with-submenu">
                <span>위스키</span>
                <ul class="submenu">
                    <li><a th:href="@{/whisky/list}">위스키 목록</a></li>
                    <li><a th:href="@{/whisky/manage}">위스키 관리</a></li>
                </ul>
            </li>

            <li class="menu-with-submenu">
                <span>문의</span>
                <ul class="submenu">
                    <li><a th:href="@{/inquiry/whisky}">위스키 문의</a></li>
                    <li><a th:href="@{/inquiry/user}">사용자 문의</a></li>
                    <li><a th:href="@{/inquiry/review}">리뷰 문의</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
