<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>보틀노트 어드민</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <div th:replace="~{layout/fragments/sidebar :: sidebar}"></div>

    <div class="main-content">
        <div th:replace="~{layout/fragments/header :: header}"></div>

        <div class="content">
            <!-- 여기서 layout:fragment="content" 사용 -->
            <div layout:fragment="content"></div>
        </div>

        <div th:replace="~{layout/fragments/footer :: footer}"></div>
    </div>
</div>

<script th:src="@{/js/script.js}"></script>
</body>
</html>
